header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 25px;
}

header nav {
    display: flex;
    text-align: left;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    background-color: black;
}

.headerImage {
    align-items: center;
    margin: 0px 10px;
    display: flex;
}