header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 25px;
}

.headerImage {
    display: flex;
    align-items: center;
    margin: 0px 10px;
}

nav {
    display: flex; 
    align-items: center; 
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0px 5px; 
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    background-color: black;
}

#homeButton {
    margin-left: 15px; 
}

.posts {
    width: auto; 
    padding: 20px; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    display: flex; 
    flex-direction: column; 
    max-width: 700px;
}

footer {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

section {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    min-height: 400px; 
}

.post-header-actions {

    display: flex;
    max-width: 50px; 
}

.post-image {
    display: flex;
    width: 330px;
    max-width: 330px;
}

.post-content {
    display: flex;
    max-width: 330px;
}
